## Go to [this](http://pokemondb.net/pokedex/game/diamond-pearl) website. Look at it. There's a bunch of pokemon.

### Use beautifulsoup to pull the pokemon's name, number, and fighting type out of the elements in the table

In [1]:
import urllib2
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup(urllib2.urlopen('http://www.serebii.net/diamondpearl/pokemon.shtml').read(), "lxml")

### Put the pokemon data into a dataframe and print it

In [113]:
tables = soup.find_all('table', width="98%")
#print tables

raw = {
    'number':[],
    'names': [],
    'type1': [],
    'type2':[]
}
c = 0
for idx, table in enumerate(tables):
    #print '<=== table ===>', idx
    #print table
    for idx2, row in enumerate(table.find_all('tr')):
        if idx2 > 0:
            #print '<=== row ===>', idx2
            #print row
            for idx3, col in enumerate(row.find_all('td')):
                #print '<=== col ===>', idx3
                #print col
                
                if idx3 == 0:
                    raw['number'] += [col.text.replace('\r','').replace('\n','').replace('\t','').replace('#','')]
                if idx3 == len(row.find_all('td')) - 4:
                    raw['names'] += [col.text.split('\n')[1]]
                if idx3 == len(row.find_all('td')) - 2:
                    key = col.find('a').contents
                    raw['type1'] += [key[0]['src'].replace('/pokedex-dp/type/',"").replace('.gif','')]
                if idx3 == len(row.find_all('td')) - 1:
                    key = col.find('a').contents
                    raw['type2'] += [key[0]['src'].replace('/pokedex-dp/type/',"").replace('.gif','')]
                    

import pandas as pd
ndf = pd.DataFrame(raw)

#Get the two types into one column
ndf['fighting type'] = ndf['type1'] + '-' + ndf['type2'] 
ndf['fighting type'] = [x.replace('-na','') for x in ndf['fighting type']]

#drop type1, type2
ndf.drop(['type1','type2'],axis=1,inplace=True)
ndf.head()

      names number  fighting type
0   Turtwig    387          grass
1    Grotle    388          grass
2  Torterra    389   grass-ground
3  Chimchar    390           fire
4  Monferno    391  fire-fighting